.registerButton {
    width: 70%;
    height: 80%;
    background: #FFD600;
    border-radius: 25px;
    font-family: 'Lufga', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFF8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.registerButton:hover {
    background:  #161616;
    transform: scale(1.01);
}