.newAdmission:hover {
    background: #FFC300;
    /* Slightly darker yellow */
    transform: scale(1.05);
    /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow */
}