.element {
    cursor: default;
    border: "1px solid black";
}

.element:hover {
    transform: scale(1.15);
}

.addEmployee:hover {
    background: #FFC300;
    /* Slightly darker yellow */
    transform: scale(1.05);
    /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow */
}

.expand:active {
    transform: rotate(-90deg);
}

.employee-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 1200px) {
    .employee-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .employee-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .employee-cards-container {
        grid-template-columns: 1fr;
    }
}